<p-toast />
<!-- HEADER -->
<div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static">
    <img src="assets/images/logo.svg" alt="Image" height="50" class="mr-0 lg:mr-5">
</div>

<!-- HERO -->
<div class="relative p-8 overflow-hidden bg-no-repeat bg-cover"
    style="background-image: url('assets/images/1.jpg'); background-position:  center top;">
    <div class="text-center my-6 relative">
        <div class="text-lg md:text-6xl font-bold mb-1 text-white">Sua Biblioteca,</div>
        <div class="text-lg md:text-6xl text-blue-400 font-bold mb-4">Nossa Gestão</div>
        <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width:500px">
            +Simples</p>
        <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width:500px">

            +Intuitiva</p>
        <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width:500px">
            +Colaborativa</p>
    </div>
</div>

<!-- HERO2 -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-wrap">
        <div class="w-full xl:w-6 p-3 pr-5">
            <span class="text-indigo-600 font-bold mb-4 block">Quem Somos</span>
            <!-- <div class="font-bold text-lg md:text-6xl mb-4">Na Index Startup, somos apaixonados por desenvolver soluções
                que tornem a gestão de bibliotecas mais simples e intuitiva.</div> -->
            <p class="mt-0 mb-5 text-700 line-height-3 text-xl">A Index é uma startup inovadora dedicada a desenvolver
                soluções que tornem a gestão de bibliotecas mais simples, intuitiva e colaborativa. Somos apaixonados
                pelo potencial que a tecnologia tem de tornar o conhecimento e a cultura acessíveis para todos.</p>
            <p class="mt-0 mb-5 text-700 line-height-3 text-xl">Convidamos você a nos acompanhar nessa jornada!
                Cadastre-se abaixo para receber a nossa newsletter:</p>
            <div class="relative w-full xl:w-30rem" *ngIf="!loadingNewsletter1">
                <input pInputText type="text" [(ngModel)]="this.emailNewsletter1.email" placeholder="Informe seu e-mail"
                    class="py-3 pl-3 w-full" style="border-radius: 30px;padding-right: 8rem">
                <button (click)="cadastrarNewsletter('hero')"
                    class="p-3 absolute appearance-none p-component border-none bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 text-white outline-none h-full cursor-pointer"
                    style="border-radius: 30px; top: 0; right: 0">Cadastrar</button>
            </div>
            <div class="relative w-full xl:w-30rem" *ngIf="loadingNewsletter1">
                <p-progressSpinner class="p-3 absolute" styleClass="w-2rem h-2rem" strokeWidth="5"
                    fill="var(--surface-ground)" animationDuration="1s" />
            </div>
        </div>
        <div class="w-full xl:w-6 p-3 flex align-items-center justify-content-center bg-indigo-50 p-4 lg:p-8 mt-5 xl:mt-0"
            style="border-radius: 30px">
            <div class="relative w-full" style="padding-bottom:56.25%;height:0;">
                <img src="assets/images/2.jpg" class="absolute top-0 left-0 w-full h-full border-round"
                    width="560" height="315" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </div>
        </div>
    </div>
</div>

<!-- ABOUT -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6">
            <img src="assets/images/3.jpg" alt="Image" class="w-full border-round">
        </div>
        <div class="col-12 md:col-6">

            <div class="pr-0 md:pr-8">
                <div class="text-900 font-bold text-lg md:text-6xl mb-3">Recursos do Nosso Software</div>
                <div class="text-700 line-height-3 mb-5">Com a Index é mais fácil descobrir, localizar, acessar e
                    compartilhar.</div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-cyan-600 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-image text-2xl"></i>
                        </span>
                        <div class="h-full bg-cyan-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Layout moderno</div>
                        <span class="line-height-3 text-700">
                            Interface moderna e intuitiva, com design responsivo e fácil de usar.
                        </span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-orange-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-android text-2xl"></i>
                        </span>
                        <div class="h-full bg-orange-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Engajamento de Usuários</div>
                        <span class="line-height-3 text-700">
                            Ferramentas interativas e modernas para disseminar informações e promover eventos.
                        </span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-purple-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-cloud text-2xl"></i>
                        </span>
                        <div class="h-full bg-purple-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Totalmente Web</div>
                        <span class="line-height-3 text-700">
                            100% na nuvem, sem necessidade de instalação ou configuração de servidores locais.
                        </span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-yellow-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-lightbulb text-2xl"></i>
                        </span>
                        <div class="h-full bg-yellow-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Rede colaborativa</div>
                        <span class="line-height-3 text-700">
                            0% de retrabalho, se uma obra já foi descrita em nossa base, qualquer biblioteca pode usar o mesmo registro.
                        </span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-primary-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-globe text-2xl"></i>
                        </span>
                        <div class="h-full bg-primary-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Padronização Internacional</div>
                        <span class="line-height-3 text-700">
                            Alinhado com os mais recentes padrões da Biblioteconomia, mas mantendo a compatibilidade com os anteriores.
                        </span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-pink-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-file-import text-2xl"></i>
                        </span>
                        <div class="h-full bg-pink-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Importação e exportação de registros</div>
                        <span class="line-height-3 text-700">
                            Funcionalidades que permitem trazer os seus registros, mas sem aprisioná-los.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
ARTICLE
-->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-700">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6 pr-0 lg:pr-5">
            <span class="text-blue-700 bg-blue-50 inline-block py-2 px-3" style="border-radius:50px">Leitura
                longa</span>
            <div class="font-normal text-2xl mt-3 mb-3 text-900">Conheça a Index: Uma Startup Revolucionando a Gestão de Bibliotecas</div>
            <p class="line-height-3 mt-0 mb-5">
                Acreditamos que as bibliotecas desempenham um papel fundamental na promoção do conhecimento, da cultura e da inclusão social. Infelizmente, muitas delas se veem impossibilitadas de implementar um gerenciamento informatizado devido a uma série de obstáculos, incluindo a escassez de recursos, entraves burocráticos e até a dificuldade em acompanhar as demandas atuais de seus usuários. 
            </p>
            <p class="line-height-3 mt-0 mb-5">A Index foi criada para enfrentar todos esses obstáculos.</p>
            <div class="text-lg md:text-1xl text-900">Nossa Missão</div>
            <p class="line-height-3  mt-0 mb-5">
                Revolucionar o funcionamento das bibliotecas públicas, engajando novos leitores e fortalecendo as comunidades.
            </p>
            <div class="text-lg md:text-1xl text-900">Soluções Sob Medida</div>
            <p class="line-height-3 mt-0 mb-5">
                Nosso software será especialmente projetado para atender às necessidades das bibliotecas públicas. Entendemos que cada biblioteca é única, com seus próprios desafios e oportunidades. Por isso, estamos comprometidos em criar soluções personalizáveis que realmente façam a diferença no dia a dia dos bibliotecários e dos usuários.
            </p>
            <div class="text-lg md:text-1xl text-900">Convidamos Você a Participar desta Transformação</div>
            <p class="line-height-3 mt-0 mb-5">
                Para melhor entendermos as suas necessidades, gostaríamos de convidar você a preencher um breve formulário. Sua participação é crucial para que possamos construir um futuro melhor para as bibliotecas públicas municipais brasileiras. Juntos, podemos fazer a diferença!
            </p>
        </div>
        <div class="w-full lg:w-5 pl-0 lg:pl-4 pt-5">
            <img src="assets/images/4.png" alt="Image" class="w-full border-round">
        </div>
    </div>
</div>

<!-- TESTIMONIAL -->
<div class="surface-ground text-center px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column md:flex-row">
        <div class="flex-1 flex mb-4 md:mb-0 md:px-4 py-4 md:py-0">
            <div class="shadow-2 surface-card border-round relative">
                <div class="px-4 pb-4 pt-8 relative">
                    <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                        “A biblioteca moderna transformou-se. Ela era uma força passiva, uma energia latente, um simples potencial de energia. Tornou-se uma força viva para a comunidade, uma energia liberada.”</p>
                    <div class="text-900 font-semibold line-height-3 mt-4">Paul Otlet</div>
                    <div class="text-600 line-height-3 text-sm">Traité de documentation</div>
                </div>
            </div>
        </div>
        <div class="flex-1 flex md:px-4 py-4 md:py-0">
            <div class="shadow-2 surface-card border-round relative">
                <div class="px-4 pb-4 pt-8 relative">
                    <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                        “Nossa obrigação não é apenas satisfazer aos que têm sede de conhecimento, mas despertar essa sede naqueles que ainda não a sentiram.”</p>
                    <div class="text-900 font-semibold line-height-3 mt-4">Adelpha de Figueiredo</div>
                    <div class="text-600 line-height-3 text-sm">O Papel da Biblioteca na Educação</div>
                </div>
            </div>
        </div>
        <div class="flex-1 flex mb-4 md:mb-0 md:px-4 py-4 md:py-0">
            <div class="shadow-2 surface-card border-round relative">
                <div class="px-4 pb-4 pt-8 relative">
                    <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                        “Economize o tempo do leitor. (...) Economize o tempo dos funcionários..”
                    </p>
                    <div class="text-900 font-semibold line-height-3 mt-4">S. R. Ranganathan</div>
                    <div class="text-600 line-height-3 text-sm">Prolegomena to Library Classification</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- QUIZ -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between"
        style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)">
        <div class="pr-6">
            <div class="text-blue-100 font-medium text-lg md:text-3xl">
                NÓS AJUDE A MELHORAR NOSSO SOFTWARE
            </div>
            <div class="text-white font-medium text-lg md:text-6xl">
                Faça nossa pesquisa e nos ajude a melhorar nosso software!
            </div>
        </div>
        <div class="mt-4 mr-auto md:mt-0 md:mr-0">
            <button
                (click)="openLinkBlank('https://docs.google.com/forms/d/e/1FAIpQLSfxGhO7sz4Sx-G71qeVEPdZoOK85ZQtMhyDiqYUr4efFWeSsA/viewform?usp=sf_link')"
                pButton pRipple label="Responder"
                class="font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap"></button>
        </div>
    </div>
</div>

<!-- CONTACT -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div class="p-fluid pr-0 md:pr-6">
                <div class="field">
                    <label for="name" class="font-medium">Nome</label>
                    <input [(ngModel)]="this.contato.nome" id="name" type="text" pInputText class="py-3 px-2 text-lg">
                </div>
                <div class="field">
                    <label for="email" class="font-medium">E-mail</label>
                    <input [(ngModel)]="this.contato.email" id="email" type="text" pInputText class="py-3 px-2 text-lg">
                </div>
                <div class="field">
                    <label for="company" class="font-medium">Instituição</label>
                    <input [(ngModel)]="this.contato.instituicao" id="company" type="text" pInputText
                        class="py-3 px-2 text-lg">
                </div>
                <div class="field">
                    <label for="message" class="font-medium">Mensagem</label>
                    <textarea [(ngModel)]="this.contato.mensagem" id="message" pInputTextarea rows="6"
                        [autoResize]="true" class="py-3 px-2 text-lg"></textarea>
                </div>
                <button *ngIf="!loadingContato" (click)="enviarFormContact()" pButton pRipple label="Enviar Mensagem"
                    icon="pi pi-send" class="w-auto"></button>
                <p-progressSpinner *ngIf="loadingContato" class="p-3 absolute" styleClass="w-2rem h-2rem"
                    strokeWidth="5" fill="var(--surface-ground)" animationDuration="1s" />
            </div>
        </div>
        <div class="col-12 md:col-6 bg-no-repeat bg-right-bottom"
            style="background-image: url('assets/images/contact-1.png')">
            <div class="text-900 text-lg md:text-6xl">Nós envie uma mensagem</div>
            <div class="text-700 line-height-3 mb-6">
                Gostou da nossa solução? Tem alguma dúvida ou sugestão? Entre em contato conosco e teremos o prazer de
                ajudá-lo!
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="surface-50 px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none">
    <div class="grid flex-wrap -mr-3 -ml-3 md:text-left">
        <div
            class="col-12 sm:col-6 md:col-4 lg:col-6 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
            <span class="text-900 text-xl block">Index</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">
                        Todos os direitos reservados © 2024
                    </a></li>
            </ul>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-6 flex flex-column mt-2 py-4 px-4 mb-4 lg:mb-0">
            <span class="text-900 text-xl block">Newsletter</span>
            <span class="text-500 block mt-4 line-height-3">
                Receba as últimas notícias e atualizações sobre a Index Startup.
            </span>
            <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width:30rem;" *ngIf="!loadingNewsletter2">
                <button type="button" (click)="cadastrarNewsletter('footer')" pButton icon="pi pi-envelope"
                    class="text-500 surface-100 surface-border"></button>
                <input [(ngModel)]="this.emailNewsletter2.email" type="text" pInputText placeholder="E-mail"
                    class="border-y-1 text-500 border-x-none surface-border">
                <button type="button" (click)="cadastrarNewsletter('footer')" pButton icon="pi pi-arrow-right"
                    class="text-500 surface-100 surface-border"></button>
            </div>
            <div class="p-inputgroup mt-3 mx-auto lg:mx-0 h-3rem" style="max-width:30rem;" *ngIf="loadingNewsletter2">
                <p-progressSpinner class="p-3 absolute" styleClass="w-2rem h-2rem" strokeWidth="5"
                    fill="var(--surface-ground)" animationDuration="1s" />
            </div>
        </div>
    </div>
</div>
<div class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center">

    <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-instagram surface-900 p-1 text-sm border-circle text-0"
                (click)="openLinkBlank('https://www.instagram.com/biblio.startup/')"></i>
        </a>
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"
                (click)="openLinkBlank('https://www.facebook.com/profile.php?id=61559237679907')"></i>
        </a>
    </div>
</div>