<p-toast />
<!-- HEADER -->
<div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static">
    <a routerLink="/">
        <img src="assets/images/logo.svg" alt="Image" height="50" class="mr-0 lg:mr-5">
    </a>
    <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
        <!-- botoes esquerda  -->
        </ul>
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none">
            <li>
                <a pRipple routerLink="/login" class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                    <i class="pi pi-user text-base lg:text-2xl mr-2 lg:mr-0"></i>
                    <span class="block lg:hidden font-medium">Login</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- HERO -->
<div class="relative p-8 overflow-hidden bg-no-repeat bg-cover"
    style="background-image: url('assets/images/hero_background.jpg'); background-position:  center top;">
    <div class="text-center my-6 relative">
        <div class="text-lg md:text-6xl font-bold mb-1 text-white">Uma nova maneira de fazer a gestão de</div>
        <div class="text-lg md:text-6xl text-blue-400 font-bold mb-4">bibliotecas</div>
        <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width:500px">Torne a gestão da
            sua biblioteca mais simples e intuitiva com o nosso software inovador.</p>
    </div>
</div>

<!-- HERO2 -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-wrap">
        <div class="w-full xl:w-6 p-3 pr-5">
            <span class="text-indigo-600 font-bold mb-4 block">Quem Somos</span>
            <div class="font-bold text-lg md:text-6xl mb-4">Na Index Startup, somos apaixonados por desenvolver soluções
                que tornem a gestão de bibliotecas mais simples e intuitiva.</div>
            <p class="mt-0 mb-5 text-700 line-height-3 text-xl">Acreditamos que as bibliotecas desempenham um papel
                fundamental na promoção do conhecimento, da cultura e da inclusão social. No entanto, muitas bibliotecas
                ainda enfrentam desafios como falta de recursos, barreiras burocráticas e dificuldades em atender às
                necessidades dos usuários modernos.</p>
            <p class="mt-0 mb-5 text-700 line-height-3 text-xl">Gostaria de receber a nossa newsletter? Cadastre-se
                abaixo!</p>
            <div class="relative w-full xl:w-30rem" *ngIf="!loadingNewsletter1">
                <input pInputText type="text" [(ngModel)]="this.emailNewsletter1.email" placeholder="Informe seu e-mail"
                    class="py-3 pl-3 w-full" style="border-radius: 30px;padding-right: 8rem">
                <button (click)="cadastrarNewsletter('hero')"
                    class="p-3 absolute appearance-none p-component border-none bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 text-white outline-none h-full cursor-pointer"
                    style="border-radius: 30px; top: 0; right: 0">Cadastrar</button>
            </div>
            <div class="relative w-full xl:w-30rem" *ngIf="loadingNewsletter1">
                <p-progressSpinner class="p-3 absolute" styleClass="w-2rem h-2rem" strokeWidth="5"
                    fill="var(--surface-ground)" animationDuration="1s" />
            </div>
        </div>
        <div class="w-full xl:w-6 p-3 flex align-items-center justify-content-center bg-indigo-50 p-4 lg:p-8 mt-5 xl:mt-0"
            style="border-radius: 30px">
            <div class="relative w-full" style="padding-bottom:56.25%;height:0;">
                <img src="assets/images/hero2_backgroung.jpg" class="absolute top-0 left-0 w-full h-full border-round" width="560"
                    height="315" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </div>
        </div>
    </div>
</div>

<!-- ABOUT -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6">
            <img src="assets/images/about.png" alt="Image" class="w-full">
        </div>
        <div class="col-12 md:col-6">
            
            <div class="pr-0 md:pr-8">
                <div class="text-900 font-bold text-lg md:text-6xl mb-3">Recursos do Nosso Software</div>
                <div class="text-700 line-height-3 mb-5">Nosso software oferece uma gama de funcionalidades pensadas
                    para atender às necessidades específicas das bibliotecas públicas municipais.</div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-cyan-600 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-image text-2xl"></i>
                        </span>
                        <div class="h-full bg-cyan-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Layout moderno</div>
                        <span class="line-height-3 text-700">
                            Interface moderna e intuitiva, com design responsivo e fácil de usar.
                        </span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-orange-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-android text-2xl"></i>
                        </span>
                        <div class="h-full bg-orange-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Engajamento de Usuários</div>
                        <span class="line-height-3 text-700">Ferramentas interativas e modernas para promover eventos e
                            atividades de leitura.</span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span
                            class="bg-purple-500 text-white flex align-items-center justify-content-center border-circle shadow-2"
                            style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-globe text-2xl"></i>
                        </span>
                        <div class="h-full bg-purple-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Totalmente Web</div>
                        <span class="line-height-3 text-700">
                            Ferramenta 100% web, sem necessidade de instalação de softwares ou aplicativos.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
ARTICLE
-->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-700">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6 pr-0 lg:pr-5">
            <span class="text-blue-700 bg-blue-50 inline-block py-2 px-3" style="border-radius:50px">Leitura
                longa</span>
            <div class="font-normal text-2xl mt-3 mb-3 text-900">Conheça a Index: A Startup Revolucionando a Gestão de
                Bibliotecas</div>
            <div class="text-lg md:text-1xl text-900">Uma Paixão pela Inovação e pela Cultura</div>
            <p class="line-height-3 mt-0 mb-5">
                A Index é uma nova startup que nasceu da nossa paixão por desenvolver soluções que tornam a gestão de
                bibliotecas mais simples e intuitiva. Acreditamos firmemente que as bibliotecas desempenham um papel
                fundamental na promoção do conhecimento, da cultura e da inclusão social. No entanto, sabemos que muitas
                bibliotecas ainda enfrentam desafios significativos, como a falta de recursos, barreiras burocráticas e
                dificuldades em atender às necessidades dos usuários modernos.
            </p>
            <div class="text-lg md:text-1xl text-900">Nossa Missão</div>
            <p class="line-height-3  mt-0 mb-5">
                Nossa missão na Index é clara: queremos transformar a maneira como as bibliotecas públicas municipais
                brasileiras operam. Estamos desenvolvendo um software inovador que vai muito além do simples
                gerenciamento de acervo. Nosso objetivo é ajudar as bibliotecas a envolver seus usuários, engajar novos
                leitores e fortalecer a comunidade através de um serviço mais eficiente e acessível.
            </p>
            <div class="text-lg md:text-1xl text-900">Soluções Sob Medida para todas Bibliotecas</div>
            <p class="line-height-3 mt-0 mb-5">
                Nosso novo software foi especialmente projetado para atender às necessidades das bibliotecas públicas e
                privadas. Entendemos que cada biblioteca é única, com seus próprios desafios e
                oportunidades. Por isso, estamos comprometidos em criar soluções personalizadas que realmente façam a
                diferença no dia a dia dos bibliotecários e dos usuários.
            </p>
            <div class="text-lg md:text-1xl text-900">Convidamos Você a Participar</div>
            <p class="line-height-3 mt-0 mb-5">
                Para melhor entendermos os desafios e as oportunidades das bibliotecas,
                gostaríamos de convidá-lo(a) a preencher um breve formulário. Sua participação é crucial para que
                possamos desenvolver soluções ainda mais adequadas às suas necessidades. Acreditamos que, juntos,
                podemos transformar as bibliotecas em centros ainda mais vibrantes e inclusivos de aprendizado e
                cultura.
            </p>
            <div class="text-lg md:text-1xl text-900">Faça Parte Desta Transformação</div>
            <p class="line-height-3 mt-0 mb-5">
                Estamos entusiasmados com o potencial de impacto positivo que nosso software pode trazer para as
                bibliotecas públicas. Convidamos você a acompanhar nossa jornada e a fazer parte dessa transformação. A
                Index está aqui para apoiar, inovar e crescer junto com as bibliotecas, promovendo um futuro onde o
                conhecimento e a cultura sejam acessíveis a todos.
            </p>
            <p class="line-height-3 mt-0 mb-5">
                Preencha o formulário e nos ajude a construir um futuro melhor para as bibliotecas públicas municipais
                brasileiras. Juntos, podemos fazer a diferença!
            </p>
        </div>
        <div class="w-full lg:w-3 pl-0 lg:pl-4 pt-5">
            <img src="assets/images/article.jpg" alt="Image" class="w-full border-round">
        </div>
    </div>
</div>

<!-- QUIZ -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between"
        style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)">
        <div class="pr-6">
            <div class="text-blue-100 font-medium text-lg md:text-3xl">
                NÓS AJUDE A MELHORAR NOSSO SOFTWARE
            </div>
            <div class="text-white font-medium text-lg md:text-6xl">
                Faça nossa pesquisa e nos ajude a melhorar nosso software!
            </div>
        </div>
        <div class="mt-4 mr-auto md:mt-0 md:mr-0">
            <button
                (click)="openLinkBlank('https://docs.google.com/forms/d/e/1FAIpQLSfxGhO7sz4Sx-G71qeVEPdZoOK85ZQtMhyDiqYUr4efFWeSsA/viewform?usp=sf_link')"
                pButton pRipple label="Responder"
                class="font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap"></button>
        </div>
    </div>
</div>

<!-- CONTACT -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div class="p-fluid pr-0 md:pr-6">
                <div class="field">
                    <label for="name" class="font-medium">Nome</label>
                    <input [(ngModel)]="this.contato.nome" id="name" type="text" pInputText class="py-3 px-2 text-lg">
                </div>
                <div class="field">
                    <label for="email" class="font-medium">E-mail</label>
                    <input [(ngModel)]="this.contato.email" id="email" type="text" pInputText class="py-3 px-2 text-lg">
                </div>
                <div class="field">
                    <label for="company" class="font-medium">Instituição</label>
                    <input [(ngModel)]="this.contato.instituicao" id="company" type="text" pInputText
                        class="py-3 px-2 text-lg">
                </div>
                <div class="field">
                    <label for="message" class="font-medium">Mensagem</label>
                    <textarea [(ngModel)]="this.contato.mensagem" id="message" pInputTextarea rows="6"
                        [autoResize]="true" class="py-3 px-2 text-lg"></textarea>
                </div>
                <button *ngIf="!loadingContato" (click)="enviarFormContact()" pButton pRipple label="Enviar Mensagem"
                    icon="pi pi-send" class="w-auto"></button>
                <p-progressSpinner *ngIf="loadingContato" class="p-3 absolute" styleClass="w-2rem h-2rem"
                    strokeWidth="5" fill="var(--surface-ground)" animationDuration="1s" />
            </div>
        </div>
        <div class="col-12 md:col-6 bg-no-repeat bg-right-bottom"
            style="background-image: url('assets/images/contact-1.png')">
            <div class="text-900 text-lg md:text-6xl">Nós envie uma mensagem</div>
            <div class="text-700 line-height-3 mb-6">
                Gostou da nossa solução? Tem alguma dúvida ou sugestão? Entre em contato conosco e teremos o prazer de
                ajudá-lo!
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="surface-50 px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none">
    <div class="grid flex-wrap -mr-3 -ml-3 md:text-left">
        <div
            class="col-12 sm:col-6 md:col-4 lg:col-6 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
            <span class="text-900 text-xl block">Index</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">
                        Todos os direitos reservados © 2024
                    </a></li>
            </ul>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-6 flex flex-column mt-2 py-4 px-4 mb-4 lg:mb-0">
            <span class="text-900 text-xl block">Newsletter</span>
            <span class="text-500 block mt-4 line-height-3">
                Receba as últimas notícias e atualizações sobre a Index Startup.
            </span>
            <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width:30rem;" *ngIf="!loadingNewsletter2">
                <button type="button" (click)="cadastrarNewsletter('footer')" pButton icon="pi pi-envelope"
                    class="text-500 surface-100 surface-border"></button>
                <input [(ngModel)]="this.emailNewsletter2.email" type="text" pInputText placeholder="E-mail"
                    class="border-y-1 text-500 border-x-none surface-border">
                <button type="button" (click)="cadastrarNewsletter('footer')" pButton icon="pi pi-arrow-right"
                    class="text-500 surface-100 surface-border"></button>
            </div>
            <div class="p-inputgroup mt-3 mx-auto lg:mx-0 h-3rem" style="max-width:30rem;" *ngIf="loadingNewsletter2">
                <p-progressSpinner class="p-3 absolute" styleClass="w-2rem h-2rem" strokeWidth="5"
                    fill="var(--surface-ground)" animationDuration="1s" />
            </div>
        </div>
    </div>
</div>
<div class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center">
    <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-instagram surface-900 p-1 text-sm border-circle text-0" (click)="openLinkBlank('https://www.instagram.com/biblio.startup/')"></i>
        </a>
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0" (click)="openLinkBlank('https://www.facebook.com/profile.php?id=61559237679907')"></i>
        </a>
    </div>
</div>