
<!-- HEADER -->
<div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static">
    <img src="assets/images/logo.svg" alt="Image" height="50" class="mr-0 lg:mr-5">
    <!-- <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
    </a>
    <div class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 px-6 lg:px-0 z-4 shadow-2 lg:shadow-none">
        <ul class="list-none p-0 m-0 flex lg:align-items-center text-900 select-none flex-column lg:flex-row cursor-pointer">
            <li class="relative">
                <a pRipple class="flex px-0 lg:px-5 py-3 align-items-center hover:text-blue-600 font-medium transition-colors transition-duration-150" 
                    pStyleClass="@next" enterClass="hidden" enterActiveClass="fadein" leaveToClass="hidden" [hideOnOutsideClick]="true">
                    <span>Products</span>
                    <i class="pi pi-chevron-down ml-auto lg:ml-3"></i>
                </a>
                <div class="border-round shadow-0 lg:shadow-2 lg:absolute surface-overlay hidden my-2 lg:my-0 w-full lg:w-30rem">
                    <div class="grid">
                        <div class="col-12 lg:col-6">
                            <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                                    <i class="pi pi-list text-2xl"></i>
                                </div>
                                <div>
                                    <span>Features</span>
                                    <div class="text-600 text-sm mt-1">Subtext of item</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 lg:col-6">
                            <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                                    <i class="pi pi-shield text-2xl"></i>
                                </div>
                                <div>
                                    <span>Solutions</span>
                                    <div class="text-600 text-sm mt-1">Subtext of item</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 lg:col-6">
                            <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                                    <i class="pi pi-users text-2xl"></i>
                                </div>
                                <div>
                                    <span>Customers</span>
                                    <div class="text-600 text-sm mt-1">Subtext of item</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 lg:col-6">
                            <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                                    <i class="pi pi-question-circle text-2xl"></i>
                                </div>
                                <div>

                                    <span>Faq</span>
                                    <div class="text-600 text-sm mt-1">Subtext of item</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 lg:col-6">
                            <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                                    <i class="pi pi-file text-2xl"></i>
                                </div>
                                <div>
                                    <span>Case Studies</span>
                                    <div class="text-600 text-sm mt-1">Subtext of item</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 lg:col-6">
                            <a pRipple class="flex p-3 align-items-center hover:surface-50 transition-colors transition-duration-150 border-round">
                                <div class="p-2 border-round bg-blue-600 text-0 mr-3">
                                    <i class="pi pi-search text-2xl"></i>
                                </div>
                                <div>
                                    <span>Library</span>
                                    <div class="text-600 text-sm mt-1">Subtext of item</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span>Corporate</span>
                </a>
            </li>
            <li>
                <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span>Resources</span>
                </a>
            </li>
            <li>
                <a pRipple class="flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150">
                    <span>Pricing</span>
                </a>
            </li>
        </ul>
        <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
            <button pButton pRipple label="Login" class="p-button-text font-bold"></button>
            <button pButton pRipple label="Register" class="ml-3 font-bold"></button>
        </div>
    </div> -->
</div>



<!-- HERO -->
<div class="relative p-8 overflow-hidden bg-no-repeat bg-cover" style="background-image: url('assets/images/hero_background.jpg')">
    <div class="text-center my-6 relative">
        <div class="text-6xl font-bold mb-1 text-white">Uma nova maneira de fazer a gestão de</div>
        <div class="text-6xl text-blue-400 font-bold mb-4">bibliotecas</div>
        <p class="mt-0 mb-3 line-height-3 text-center mx-auto text-blue-100" style="max-width:500px">Torne a gestão da sua biblioteca mais simples e intuitiva com o nosso software inovador.</p>
    </div>
</div>

<!-- HERO2 -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-wrap">
        <div class="w-full xl:w-6 p-3 pr-5">
            <span class="text-indigo-600 font-bold mb-4 block">Quem Somos</span>
            <div class="font-bold text-900 text-6xl mb-4">Na Biblio Startup, somos apaixonados por desenvolver soluções que tornem a gestão de bibliotecas mais simples e intuitiva.</div>
            <p class="mt-0 mb-5 text-700 line-height-3 text-xl">Acreditamos que as bibliotecas desempenham um papel fundamental na promoção do conhecimento, da cultura e da inclusão social. No entanto, muitas bibliotecas ainda enfrentam desafios como falta de recursos, barreiras burocráticas e dificuldades em atender às necessidades dos usuários modernos.</p>
            <p class="mt-0 mb-5 text-700 line-height-3 text-xl">Gostaria de receber a nossa newsletter? Cadastre-se abaixo!</p>
            <div class="relative w-full xl:w-30rem">
                <input pInputText type="text" placeholder="Informe seu e-mail" class="py-3 pl-3 w-full" style="border-radius: 30px;padding-right: 8rem">
                <button class="p-3 absolute appearance-none p-component border-none bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 text-white outline-none h-full cursor-pointer" style="border-radius: 30px; top: 0; right: 0">Cadastrar</button>
            </div>
        </div>
        <div class="w-full xl:w-6 p-3 flex align-items-center justify-content-center bg-indigo-50 p-4 lg:p-8 mt-5 xl:mt-0" style="border-radius: 30px">
            <div class="relative w-full" style="padding-bottom:56.25%;height:0;">
                <img src="assets/images/hero2_backgroung.jpg" class="absolute top-0 left-0 w-full h-full" width="560" height="315" title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </div>
        </div>
    </div>
</div>

<!-- ABOUT -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div class="pr-0 md:pr-8">
                <div class="text-900 font-bold text-4xl mb-3">Recursos do Nosso Software</div>
                <div class="text-700 line-height-3 mb-5">Nosso software oferece uma gama de funcionalidades pensadas para atender às necessidades específicas das bibliotecas públicas municipais.</div>
            
                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span class="bg-cyan-600 text-white flex align-items-center justify-content-center border-circle shadow-2" style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-image text-2xl"></i>
                        </span>
                        <div class="h-full bg-cyan-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Layout moderno</div>
                        <span class="line-height-3 text-700">
                            Interface moderna e intuitiva, com design responsivo e fácil de usar.
                        </span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span class="bg-orange-500 text-white flex align-items-center justify-content-center border-circle shadow-2" style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-android text-2xl"></i>
                        </span>
                        <div class="h-full bg-orange-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Engajamento de Usuários</div>
                        <span class="line-height-3 text-700">Ferramentas interativas e modernas para promover eventos e atividades de leitura.</span>
                    </div>
                </div>

                <div class="mb-5 flex">
                    <div class="flex flex-column align-items-center" style="width:2rem">
                        <span class="bg-purple-500 text-white flex align-items-center justify-content-center border-circle shadow-2" style="min-width:2.5rem; min-height: 2.5rem; border: 2px solid #ffffff">
                            <i class="pi pi-globe text-2xl"></i>
                        </span>
                        <div class="h-full bg-purple-500" style="width: 2px; min-height: 4rem"></div>
                    </div>
                    <div class="ml-3">
                        <div class="font-medium text-900 mb-2">Totalmente Web</div>
                        <span class="line-height-3 text-700">
                            Ferramenta 100% web, sem necessidade de instalação de softwares ou aplicativos.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6">
            <img src="assets/images/about.png" alt="Image" class="w-full">
        </div>
    </div>
</div>

<!-- TESTIMONIALS -->
<div class="surface-ground text-center px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column md:flex-row">
        <div class="flex flex-grow-1 mb-4 md:mb-0 md:px-4 py-4 md:py-0">
            <div class="shadow-2 surface-card border-round relative">
                <img src="assets/images/testimonials-2.png" width="100" height="100" class="absolute left-50" style="margin-left:-50px; top: -50px">

                <div class="px-4 pb-4 pt-8 relative">
                    <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                        “O software da Biblio Startup transformou a maneira como gerimos nossa biblioteca. É intuitivo e eficiente!”
                    </p>

                    <div class="text-900 font-semibold line-height-3 mt-4">Maria Silva</div>
                    <div class="text-600 line-height-3 text-sm">Diretora da Biblioteca Pública de São Paulo</div>
                </div>
            </div>
        </div>

        <div class="flex flex-grow-1 mb-4 md:mb-0 md:px-4 py-4 md:py-0">
            <div class="shadow-2 surface-card border-round relative">
                <img src="assets/images/testimonials-1.png" width="100" height="100" class="absolute left-50" style="margin-left:-50px; top: -50px">

                <div class="px-4 pb-4 pt-8 relative">
                    <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                        “Finalmente encontramos uma solução que atende às nossas necessidades e nos ajuda a engajar nossos usuários.”</p>

                    <div class="text-900 font-semibold line-height-3 mt-4">João Pereira</div>
                    <div class="text-600 line-height-3 text-sm">Bibliotecário em Curitiba</div>
                </div>
            </div>
        </div>

        <div class="flex flex-grow-1 md:px-4 py-4 md:py-0">
            <div class="shadow-2 surface-card border-round relative">
                <img src="assets/images/testimonials-3.png" width="100" height="100" class="absolute left-50" style="margin-left:-50px; top: -50px">

                <div class="px-4 pb-4 pt-8 relative">
                    <p class="text-900 font-italic line-height-3 text-lg m-0 pb-4 border-bottom-1 surface-border">
                        “O software da Biblio Startup é uma ferramenta essencial para a gestão de bibliotecas. Recomendo!”</p>

                    <div class="text-900 font-semibold line-height-3 mt-4">Ana Silva</div>
                    <div class="text-600 line-height-3 text-sm">Diretora de escola</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- QUIZ -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between" style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%)">
        <div class="pr-6">
            <div class="text-blue-100 font-medium text-xl mb-3">
                NÓS AJUDE A MELHORAR NOSSO SOFTWARE
            </div>
            <div class="text-white font-medium text-5xl">
                Faça nossa pesquisa e nos ajude a melhorar nosso software!
            </div>
        </div>
        <div class="mt-4 mr-auto md:mt-0 md:mr-0">
            <button pButton pRipple label="Responder" class="font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap"></button>
        </div>
    </div>
</div>

<!-- CONTACT -->
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="grid">
        <div class="col-12 md:col-6">
            <div class="p-fluid pr-0 md:pr-6">
                <div class="field">
                    <label for="name" class="font-medium">Nome</label>
                    <input id="name" type="text" pInputText class="py-3 px-2 text-lg">
                </div>
                <div class="field">
                    <label for="email" class="font-medium">E-mail</label>
                    <input id="email" type="text" pInputText class="py-3 px-2 text-lg"> 
                </div>
                <div class="field">
                    <label for="company" class="font-medium">Instituição</label>
                    <input id="company" type="text" pInputText class="py-3 px-2 text-lg"> 
                </div>
                <div class="field">
                    <label for="message" class="font-medium">Mensagem</label>
                    <textarea id="message" pInputTextarea rows="6" [autoResize]="true" class="py-3 px-2 text-lg"></textarea> 
                </div>
                <button pButton pRipple label="Enviar Mensagem" icon="pi pi-send" class="w-auto"></button>
            </div>
        </div>
        <div class="col-12 md:col-6 bg-no-repeat bg-right-bottom" style="background-image: url('assets/images/blocks/contact/contact-1.png')">
            <div class="text-900 text-2xl font-medium mb-6">Nós envie uma mensagem</div>
            <div class="text-700 line-height-3 mb-6">
                Gostou da nossa solução? Tem alguma dúvida ou sugestão? Entre em contato conosco e teremos o prazer de ajudá-lo!
            </div>
            <!-- <a class="inline-flex align-items-center text-blue-600 font-bold no-underline cursor-pointer">
                <span class="mr-3">View Address on Google Maps</span>
                <i class="pi pi-arrow-right"></i>
            </a>
            <ul class="list-none p-0 m-0 mt-6 text-700">
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-phone mr-2"></i>
                    <span>+123456789</span>
                </li>
                <li class="flex align-items-center mb-3">
                    <i class="pi pi-twitter mr-2"></i>
                    <span></span>
                </li>
                <li class="flex align-items-center">
                    <i class="pi pi-inbox mr-2"></i>
                    <span></span>
                </li>
            </ul> -->
        </div>
    </div>
</div>

<!-- FOOTER -->
<div class="surface-50 px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none">
    <div class="grid flex-wrap -mr-3 -ml-3 md:text-left">
        <div class="col-12 sm:col-6 md:col-4 lg:col-6 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
            <span class="text-900 text-xl block">Biblio</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">
                    Todos os direitos reservados © 2024
                </a></li>
                <!-- <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Factories</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Careers</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Environmental Initiatives</a></li> -->
            </ul>
        </div>
        <!-- <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border">
            <span class="text-900 text-xl block">Account</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Manage Account</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Saved Items</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">My Cart</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Wishlist</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Orders & Returns</a></li>
            </ul>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-2 py-4 px-4 border-bottom-1 lg:border-y-none lg:border-right-1 surface-border">
            <span class="text-900 text-xl block">Legal</span>
            <ul class="list-none p-0">
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Investor Relations</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Data Privacy</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Terms of Service</a></li>
                <li><a tabindex="0" class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block">Legal Information</a></li>
            </ul>
        </div> -->
        <div class="col-12 sm:col-6 md:col-4 lg:col-6 flex flex-column mt-2 py-4 px-4 mb-4 lg:mb-0">
            <span class="text-900 text-xl block">Newsletter</span>
            <span class="text-500 block mt-4 line-height-3">
                Receba as últimas notícias e atualizações sobre a Biblio Startup.
            </span>
            <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width:30rem;">
                <button type="button" pButton icon="pi pi-envelope" class="text-500 surface-100 surface-border"></button>    
                <input type="text" pInputText placeholder="E-mail" class="border-y-1 text-500 border-x-none surface-border">   
                <button type="button" pButton icon="pi pi-arrow-right" class="text-500 surface-100 surface-border"></button>      
            </div>
        </div>
    </div>
</div>
<div class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center">

    <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer mr-3">
            <i class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"></i>
        </a>
        <a tabindex="0" class="cursor-pointer">
            <i class="pi pi-google surface-900 p-1 text-sm border-circle text-0"></i>
        </a>
    </div>
</div>